<h1>My Movie list</h1>
<br>

<ul>
  <% @lists.each do |l| %>
    <li><%= l.name %></li>
    <%= link_to "See details", list_path(l) %>
  <% end %>
</ul>

<%= link_to "create a new movie list", new_list_path, class: "btn btn-success"%>
